window {
    margin: 0px;
    background-color: #262f2f;
    border-radius: 5px;
    border: 1px solid #a2c8d4;
    color: #a2c8d4;
    font-family: 'Monospace';
    font-size: 10px;
}

#input {
    margin: 5px;
    border-radius: 0px;
    border: none;
    border-radius: 5px;;
    color: #a2c8d4;
    background-color: #262f2f;
    
}

#inner-box {
    margin: 5px;
    border: none;
    background-color: #262f2f;
    color: #191724;
    border-radius: 5px;
}

#outer-box {
    border-radius: 5px;
    margin: 15px;
    border: none;
    background-color: #262f2f;
}

#scroll {
    margin: 0px;
    border: none;
}

#text {
    margin: 5px;
    border: none;
    color: #e0def4;
} 

#entry:selected {
    border-radius: 2px;
    background-color: #262f2f;
    color: #191724;
    outline: none;
}

#entry:selected * {
    border-radius: 2px;
    background-color: #a2c8d4;
    color: #46728a;
    border-radius: 2px;
    outline: none;
}
